body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}
.lists {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body.no-scroll {
  overflow: hidden;
}

#services,
#vehicles,
#about,
#contacts {
  scroll-margin-top: 152px;
  scroll-behavior: smooth;
}
